<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Encryption</title>
</head>
<body>
To encrypt or decrypt your PDF file, please select it for upload and input a password:
<br><br>

<form action="{{ url_for('encrypt_file') }}" method="post" enctype="multipart/form-data">
    Select a PDF to encrypt:
    <input type="file" name="file" accept="application/pdf"/>
    <br>
    Password: <input type="password" name="password"/>
    <br>
    Confirm password: <input type="password" name="confirmPassword"/>
    <br>
    <button type="submit">Encrypt</button>
</form>

<br><br>

<form action="{{ url_for('decrypt_file') }}" method="post" enctype="multipart/form-data">
    Select an encrypted PDF to decrypt:
    <input type="file" name="file" accept="application/pdf"/>
    <br>
    Password: <input type="password" name="password"/>
    <br>
    <button type="submit">Decrypt</button>
</form>

</body>
</html>